<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>CRUDOperation</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>save</display-name>
    <servlet-name>save</servlet-name>
    <servlet-class>pack1.save</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>save</servlet-name>
    <url-pattern>/save</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>savedata</display-name>
    <servlet-name>savedata</servlet-name>
    <servlet-class>pack1.save</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>savedata</servlet-name>
    <url-pattern>/savedata</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>add</display-name>
    <servlet-name>add</servlet-name>
    <servlet-class>pack1.add</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>add</servlet-name>
    <url-pattern>/add</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>verify</display-name>
    <servlet-name>verify</servlet-name>
    <servlet-class>pack1.verify</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>verify</servlet-name>
    <url-pattern>/verify</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>remove</display-name>
    <servlet-name>remove</servlet-name>
    <servlet-class>pack1.remove</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>remove</servlet-name>
    <url-pattern>/remove</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>update</display-name>
    <servlet-name>update</servlet-name>
    <servlet-class>pack1.update</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>update</servlet-name>
    <url-pattern>/update</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>pack1.DataBase</listener-class>
  </listener>
  <servlet>
    <description></description>
    <display-name>NewAdd</display-name>
    <servlet-name>NewAdd</servlet-name>
    <servlet-class>pack1.NewAdd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewAdd</servlet-name>
    <url-pattern>/newadd</url-pattern>
  </servlet-mapping>
</web-app>